* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin-left: calc(100vw - 100%);
}

[hidden] {
  display: none;
}

section,
main,
footer,
header {
  display: block;
}

body {
  @extend %font-raleway-light;
  @include font($font4, #{$font4 + 10px}, 300);
  color: $color-dark;
  margin: 0;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
}

ul li {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
}

h1 {
  @extend %font-raleway-regular;
  @include font($font1, $weight: 400);
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
