html {
  scroll-behavior: smooth;
}

body {
  @extend %font-raleway-light;
  @include font($font4, #{$font4 + 10px}, 300);
  color: $color-dark;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 20px;
}
